<footer class="footer">
    <div class="footer__arrow"> <a href="./index.html#hero" class="footer__arrow-link"><img src="./assets/images/ico-arrow.svg" alt="arrow" title="flecha hacia arriba que al hacer click lleva al home de la página" class="footer__arrow-img"></a></div>
    <div class="footer__container">
      <nav class="footer__container-nav">
        <ul class="footer__container-nav-list">
         <include src="./list-element.html" linkURL="https://adalab.es" name="Articles">
         </include>
         <include src="./list-element.html" linkURL="https://adalab.es" name="Books">
        </include>
        <include src="./list-element.html" linkURL="https://adalab.es" name="Events">
        </include>
        <include src="./list-element.html" linkURL="https://adalab.es" name="Reasons">
        </include>
        <include src="./list-element.html" linkURL="https://adalab.es" name="Tips">
        </include>
        </ul>
      </nav>
      <nav class="footer__container-nav2" >
        <ul class="footer__container-nav2-list">
            <include src="./list-element.html" linkURL="https://adalab.es" name="Twitter">
            </include>
            <include src="./list-element.html" linkURL="https://adalab.es" name="Instagram">
            </include>
            <include src="./list-element.html" linkURL="https://adalab.es" name="Mastodon.social">
            </include>
        </ul>
      </nav>
    </div>
    <div class="footer__text">
      <span class="footer__text-copy">@@copy</span>
      <p class="footer__text-component">We <span class="footer__text-component-heart">❤︎</span> components</p>
    </div>
  </footer>