<header class="header" id="hero">
      <nav class="container-hamb">
        <a href="https://adalab.es" target="_blank">
          <img
            class="logo-hamb"
            src="./assets/images/ico-menu.svg"
            alt="icono-menu"
            title="menu con enlace a la página de ADALAB"
          />
        </a>
      </nav>
      <div class="header-container">
        <h1 class="header-container-title">@@title</h1>
        <h3 class="header-container-subtitle">
          @@subtitle
        </h3>
        <div class="container">
          <a href="./index.html#3Reasons">
            <img
              class="container-scroll-down"
              src="./assets/images/ico-scroll-down.svg"
              alt="flecha-abajo"
              title="flecha hacia abajo que al pinchar lleva a la seccion '3 reasons to purchase'"
            />
          </a>
        </div>
      </div>
    </header>