<section class="reasons" id="3Reasons">

    <h2 class="reasons-title">@@title</h2>

    <section class="container-box-list">

      <include src="./section-purchase.html"
      title="Ut sed metus" text="Lorem ipsum dolor sit amet, consectetur.">
      </include>
      <include src="./section-purchase.html"
      title="Curabitur ac erat" text="Mauris mattis urna quis lorem molestie.">
      </include>
      <include src="./section-purchase.html"
      title="Morbi dictum" text="Aliquam in dolor et dolor tincidunt.">
      </include>

    </section>

      <div class="container-button">
        <a class="container-button-text">@@button</a>
      </div>
  </section>